In [1]:
import pandas as pd

# Step 1: Load the CSV file
df = pd.read_csv('youtube_comments.csv')

# Step 2: Replace values in a specific column (e.g., 'ColumnName') from second row onwards
# Replace 'ColumnName' with the actual name of your column
column_to_replace = 'video_id'
df.loc[1:, column_to_replace] = range(1, len(df))

# Step 3: Save the modified DataFrame to a new CSV file
df.to_csv('youtube_modified.csv', index=False)

# Optional: Preview the result
df.head()

      video_id                                            comment
0  qlZM3McwO1Q  What an incredible victory. I agree the Kenyan...
1            1                                                  ❤
2            2  “Claudia is an amazonian goddess with a beauti...
3            3  Proud of my motherland Kenya ❤❤❤and Africa.at ...
4            4                                               Damn

# Brian's Data

In [2]:
import pandas as pd

# Step 1: Load the CSV file
df = pd.read_csv('data-from-youtube.csv')

# Step 2: Create a new column with sequential numbers starting from 1
df.insert(0, 'Index', range(1, len(df) + 1))  # Insert at position 0 with column name 'Index'

# Step 3: Save the updated DataFrame to a new CSV file
df.to_csv('brian-youtube-data-numbered.csv', index=False)

# Optional: Preview the result
df.head()

   Index                                        Top Comment Reply
0      1  Apple missed the boat on AI OR... Apple is doi...   NaN
1      2  Who added the background music to the video it...   NaN
2      3                    16:26  FEMI KUTI !!! RAAHHH !!!   NaN
3      4            The greatest AI scam in history, is AI.   NaN
4      5  if I only knew Siri is a mess, I would bought ...   NaN